@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
    background-color: #fff;
}
.sec {
    position: relative;
    padding: 100px;
    background-color: #094b65;
    display: flex;
}
.app {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 50px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1 {
    font-size: 25px;
    color: #094b65;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding: 30px 0;
}
.quiz {
    padding: 20px 0;
}
.quiz h2 {
    font-size: 18px;
    color: #094b65;
    font-weight: 600;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
    transition: all 0.3s;
}
.btn:disabled {
    cursor: no-drop;
}
#next-btn {
    background: #094b65;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: none;
}
.correct {
    background: #9aeabc;
}
.incorrect {
    background: #ff9393;
}
footer {
    height: 50px;
    background-color: #094b65;
    text-align: center;
    font-size: 1em;
    color: #fff;
}